<!-- <p>pedido-list works!</p> -->
<!-- <div *ngFor="let produto of produtos">{{produto.descricao}}</div> -->
<button (click)="form()" class="btn btn-light btn">
  <fa-icon [icon]=faPlusSquare></fa-icon>
  Adicionar Pedido
</button>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>

          <th>Cliente</th>
          <th>Produto</th>
          <th>Código</th>
          <th>Data</th>

        </thead>
        <tbody>
            <tr  *ngFor="let pedido of pedidos">

              <td>{{pedido.cliente.nome}}</td>
              <td>{{pedido.produto.nome}}</td>
              <td>{{pedido.codigo}}</td>
              <td>{{pedido.data}}</td>


              <td style="white-space: nowrap;">
                <button class="btn btn-light" (click)="prepararExibir(pedido)" data-toggle="modal"
                  data-target="#modalExibir">
                  <fa-icon [icon]="faEye"></fa-icon>
                </button>
              </td>

              <td style="white-space: nowrap;">
                <button class="btn btn-light" (click)="preparaDeletePedido(pedido)" data-toggle="modal"
                  data-target="#modalDelecao">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>


              <td style="white-space: nowrap;"*ngIf="pedido.ativo" >
                <button class="btn btn-light" (click)="alterarPedido(pedido.codigo)">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
              </td>

              <td style="white-space: nowrap;"*ngIf="!pedido.ativo" >
                <button class="btn btn-light" data-toggle="modal" data-target="#modalMensagem">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
              </td>

              <td>
                <div class="button r center" id="button-1">
                  <input type="checkbox" class="checkbox" (click)="prepararMudarStatus(pedido)" [checked]="pedido.ativo"
                    data-toggle="modal" data-target="#modalStatus">
                  <div class="knobs"></div>
                  <div class="layer"></div>
                </div>
              </td>

            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="modalDelecao" class="modal fase" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>
      <div class="modal-body">
        <h5>Tem certeza que deseja deletar?</h5>
        <h6>Produtos: <span class="badge badge-secondary">{{pedidoSelecionadoDelete.codigo}}</span></h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="delete()" data-dismiss="modal">Confirmar</button>
        <button class="btn btn-info" data-dismiss="modal">Cancela</button>
      </div>
    </div>
  </div>
</div>


<div id="modalExibir" class="modal fase" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>
      <div class="modal-body">
        <h5>Tem certeza que deseja Exibir?</h5>
        <h6>Produto: <span class="badge badge-secondary">{{pedidoSelecionadoExibir.codigo}}</span></h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="exibirPedido()" data-dismiss="modal">Confirmar</button>
        <button class="btn btn-info" data-dismiss="modal">Cancela</button>
      </div>
    </div>
  </div>
</div>

<div id="modalStatus" class="modal fase" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>
      <div class="modal-body">
        <h5>Tem certeza que deseja mudar o status?</h5>
        <h6>Cliente: <span class="badge badge-secondary">{{pedidoSelecionadoAtivar.codigo}}</span></h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="mudarStatus()" data-dismiss="modal">Confirmar</button>
        <button class="btn btn-info" data-dismiss="modal">Cancela</button>
      </div>
    </div>
  </div>
</div>

<div id="modalMensagem" class="modal fase" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>
      <div class="modal-body">
        <h5>Pedido inativo, não é possível Alterar</h5>
        <h6>Cliente: <span class="badge badge-secondary">{{pedidoSelecionadoAtivar.codigo}}</span></h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
