<label>País</label>
<select [(ngModel)]="selectedCountry.CountryName" #country (change)="onSelect(country.value)" name="country">
  <option value="0"> Escolha </option>
  <option *ngFor="let country of countries" value={{country.CountryName}}>{{country.CountryName}}</option>
</select>

<label>Estado</label>
<select [(ngModel)]="selectedState.StateName" #state (change)="onSelectState(state.value)" name="state">
  <option value="0"> Escolha </option>
  <option *ngFor="let state of states" value={{state.StateName}}>{{state.StateName}}</option>
</select>

<label>Cidade</label>
<select>
  <option value="0"> Escolha </option>
  <option *ngFor="let city of cities" value={{city.CityName}}>{{city.CityName}}</option>
</select>
